body {
    background-image: url(../images/pattern-tile.png); 
    margin: auto;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
h1 {
    text-align: center;
    width: 720px;
    height: 150px;
    color: #fff;
    font-size: 96px;
    font-family: Inter;
    font-weight: 700;
}
p {
    text-align: center;
    width: 729px;
    height: 200px;
    color: #fff;
    font-size: 28px;
    font-family: Inter;
    font-weight: 500;
}
footer{
    color: #fff;
    background-color: inherit;
    margin-top: 50px;
    text-align: center;
}
/* Image size */
.main-image {
    width: 750px;
    height: 500px;
}
/* Nav bar links */
.navLink {
    display: flex;
    padding: 10px 45px 10px 45px;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
/* Search bar */
.hakupalkki {
    padding: 1px 28px 1px 28px;
    background: #fff;
    border-radius: 50px;
    overflow: hidden;
    border: 4px #D1D1D1 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Search bar text box */
.Hae {
    border: none;
    float: right;
    padding: 10px;
    outline: 0;
    font-family: Inter;
    text-decoration-color: #D1D1D1;
    font-size: 20px;
    font-weight: 500;
}
/* Search bar submit button */
.HakuNappi {
    border: 0;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
a {
    text-decoration: none;
    color: #ffffff;
    font-size: 28px;
    font-family: Inter;
    font-weight: 500;
}
/* Main content grid */
.flex-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}