.imgtxt {
    display: flex;
    
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.left-content {
   justify-content: flex-start;
   flex: 1;
}

.right-content {
   
    padding-top: 50px;
    margin-left: 20px; 
    justify-content: space-around;
}

.header {
    color: white;
    font-size: 30px;
    text-align: left; 
    margin-bottom: 10px; 
}

.infous {
    color: white;
    font-size: 18px;
    text-align:start;
}

.ruokakuva {
    width: 600px;
    height: 450px;
    margin-left: 200px;
    
}

footer{
    color: #D1D1D1;
    background-color: black;
    text-align: center;
    
  }
  
  h1{
    text-align:center;
    color: azure;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
  }



  .palauteboxi {
    background-color: #f2f2f2; /* Light grey background */
    padding: 20px; /* Adds some space inside the form borders */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.palauteboxi input[type="text"],
.palauteboxi input[type="email"],
.palauteboxi textarea {
    width: 50%; /* Full width */
    padding: 12px 20px; /* Padding inside the inputs */
    margin: 8px 0; /* Margin between inputs */
    border: 1px solid #ccc; /* Grey border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Border box sizing */
}

.palauteboxi input[type="submit"] {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 14px 20px; /* Padding */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

.palauteboxi input[type="submit"]:hover {
    background-color: #45a049; /* Darker shade of green on hover */
}
